<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Collect exchange rate data using an API
*   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [ ]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y

## Imports

Import any additional libraries you may need here.

In [1]:
import requests
import pandas as pd

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data.

1.  Open the url : [https://exchangeratesapi.io/](https://exchangeratesapi.io/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01) and click on **Get Free API Key**.
2.  Subscribe for Free plan and Sign-in with the Google Account.
3.  Once the account is created you will be redirected to [https://apilayer.com](https://apilayer.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01) website.
4.  Now, click on the **user icon** and click **Account** as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/account.png"/>

3.  Scroll down and you will get the API Key section. Copy the API key and use in the url in Question 1.

### Call the API

<b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [5]:
# Write your code here
url = "https://api.apilayer.com/exchangerates_data/latest?base=EUR&apikey=5lS8fWRInneTZ6cqULJYegRucU06NJC2"
response = requests.get(url)
response.json()

{'success': True,
 'timestamp': 1709294943,
 'base': 'EUR',
 'date': '2024-03-01',
 'rates': {'AED': 3.974551,
  'AFN': 78.962795,
  'ALL': 104.008007,
  'AMD': 440.101344,
  'ANG': 1.95275,
  'AOA': 900.334959,
  'ARS': 911.526565,
  'AUD': 1.662851,
  'AWG': 1.94784,
  'AZN': 1.837172,
  'BAM': 1.955797,
  'BBD': 2.187768,
  'BDT': 118.909814,
  'BGN': 1.957677,
  'BHD': 0.407937,
  'BIF': 3096.023757,
  'BMD': 1.082133,
  'BND': 1.457511,
  'BOB': 7.487023,
  'BRL': 5.365139,
  'BSD': 1.083583,
  'BTC': 1.7430619e-05,
  'BTN': 89.817274,
  'BWP': 14.94515,
  'BYN': 3.545473,
  'BYR': 21209.812754,
  'BZD': 2.184068,
  'CAD': 1.469072,
  'CDF': 2992.098465,
  'CHF': 0.957579,
  'CLF': 0.037832,
  'CLP': 1043.760955,
  'CNY': 7.789842,
  'COP': 4250.652081,
  'CRC': 554.742705,
  'CUC': 1.082133,
  'CUP': 28.676533,
  'CVE': 110.265337,
  'CZK': 25.316515,
  'DJF': 192.954854,
  'DKK': 7.454102,
  'DOP': 63.584895,
  'DZD': 145.865108,
  'EGP': 33.429801,
  'ERN': 16.232,
  'ETB': 61.163808,
  'EUR': 1,
  'FJD': 2.432906,
  'FKP': 0.856622,
  'GBP': 0.855838,
  'GEL': 2.86764,
  'GGP': 0.856622,
  'GHS': 13.706042,
  'GIP': 0.856622,
  'GMD': 73.558006,
  'GNF': 9311.329589,
  'GTQ': 8.456026,
  'GYD': 226.670692,
  'HKD': 8.471643,
  'HNL': 26.75806,
  'HRK': 7.6075,
  'HTG': 143.651102,
  'HUF': 393.507494,
  'IDR': 17020.333669,
  'ILS': 3.853692,
  'IMP': 0.856622,
  'INR': 89.676982,
  'IQD': 1418.197777,
  'IRR': 45482.062848,
  'ISK': 149.497013,
  'JEP': 0.856622,
  'JMD': 169.023012,
  'JOD': 0.767261,
  'JPY': 162.770146,
  'KES': 158.529124,
  'KGS': 96.7425,
  'KHR': 4410.033841,
  'KMF': 493.073656,
  'KPW': 973.824548,
  'KRW': 1444.345351,
  'KWD': 0.333037,
  'KYD': 0.902899,
  'KZT': 488.869234,
  'LAK': 22619.741292,
  'LBP': 97030.469511,
  'LKR': 335.559474,
  'LRD': 207.33838,
  'LSL': 20.765598,
  'LTL': 3.195258,
  'LVL': 0.654572,
  'LYD': 5.234403,
  'MAD': 10.949133,
  'MDL': 19.265483,
  'MGA': 4894.376774,
  'MKD': 61.684756,
  'MMK': 2275.375161,
  'MNT': 3673.005599,
  'MOP': 8.733986,
  'MRU': 43.171262,
  'MUR': 49.550544,
  'MVR': 16.660948,
  'MWK': 1824.040417,
  'MXN': 18.422347,
  'MYR': 5.135835,
  'MZN': 68.715127,
  'NAD': 20.76586,
  'NGN': 1750.404286,
  'NIO': 39.879937,
  'NOK': 11.42821,
  'NPR': 143.718064,
  'NZD': 1.775315,
  'OMR': 0.416559,
  'PAB': 1.083403,
  'PEN': 4.113556,
  'PGK': 4.132146,
  'PHP': 60.648193,
  'PKR': 299.737974,
  'PLN': 4.314454,
  'PYG': 7908.608813,
  'QAR': 3.939509,
  'RON': 4.970025,
  'RSD': 117.197157,
  'RUB': 99.016759,
  'RWF': 1382.80645,
  'SAR': 4.058381,
  'SBD': 9.186853,
  'SCR': 14.695187,
  'SDG': 650.361863,
  'SEK': 11.182723,
  'SGD': 1.456778,
  'SHP': 1.365598,
  'SLE': 24.559167,
  'SLL': 21372.132409,
  'SOS': 618.440069,
  'SRD': 38.206334,
  'STD': 22397.97457,
  'SVC': 9.479985,
  'SYP': 14068.965768,
  'SZL': 20.840604,
  'THB': 38.853979,
  'TJS': 11.874636,
  'TMT': 3.787467,
  'TND': 3.382759,
  'TOP': 2.567848,
  'TRY': 33.914777,
  'TTD': 7.352988,
  'TWD': 34.231153,
  'TZS': 2759.439934,
  'UAH': 41.199172,
  'UGX': 4255.012991,
  'USD': 1.082133,
  'UYU': 42.44013,
  'UZS': 13540.041338,
  'VEF': 3901348.998452,
  'VES': 38.984436,
  'VND': 26679.996605,
  'VUV': 130.3899,
  'WST': 2.98089,
  'XAF': 656.0075,
  'XAG': 0.047699,
  'XAU': 0.000527,
  'XCD': 2.924519,
  'XDR': 0.816463,
  'XOF': 656.0075,
  'XPF': 119.331742,
  'YER': 270.8576,
  'ZAR': 20.739303,
  'ZMK': 9740.501395,
  'ZMW': 25.543966,
  'ZWL': 348.446482}}

### Save as DataFrame

<b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [6]:
# Turn the data into a dataframe
df = pd.DataFrame(response.json())
df

     success   timestamp base        date        rates
AED     True  1709294943  EUR  2024-03-01     3.974551
AFN     True  1709294943  EUR  2024-03-01    78.962795
ALL     True  1709294943  EUR  2024-03-01   104.008007
AMD     True  1709294943  EUR  2024-03-01   440.101344
ANG     True  1709294943  EUR  2024-03-01     1.952750
..       ...         ...  ...         ...          ...
YER     True  1709294943  EUR  2024-03-01   270.857600
ZAR     True  1709294943  EUR  2024-03-01    20.739303
ZMK     True  1709294943  EUR  2024-03-01  9740.501395
ZMW     True  1709294943  EUR  2024-03-01    25.543966
ZWL     True  1709294943  EUR  2024-03-01   348.446482

[170 rows x 5 columns]

In [7]:
# Drop unnescessary columns
df.drop(columns=['success', 'timestamp', 'base', 'date'], inplace=True)

# df.drop(columns = ["success", "timestamp", "base", "date"], inplace=True)
# df

# def extract(df):
#     dataframe = pd.read_csv(df)
#     return dataframe.head(5)

In [8]:
df.head()

          rates
AED    3.974551
AFN   78.962795
ALL  104.008007
AMD  440.101344
ANG    1.952750

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [9]:
# Save the Dataframe
df.to_csv("exchange_rates_1.csv")

Your CSV should be in this format with more currencies

|     | Rates      |
| --- | ---------- |
| AED | 4.398618   |
| AFN | 92.917693  |
| ALL | 123.099093 |
| AMD | 621.935674 |
| ANG | 2.149648   |

In [30]:
# extract

extracted_data = extract()
extracted_data.head(5)

NameError: name 'extract' is not defined

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                              |
| ----------------- | ------- | ----------------- | ----------------------------------------------- |
| 2022-05-06        | 0.3     | Malika            | Updated instructions to get the API and the url |
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR                 |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab              |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).